*{
    margin:0;
    font-family: Arial;
    border:border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.nav-logo{
    height: 50px;
    width:138px;
    align-items:center;
    
} 
.logo{
    background-image: url("Amazon-Logo-White-PNG-Image.png");
    background-size: cover;
    height: 50px;
    width:138px;
    align-items:center;
}
.border{
    border:1.5px solid transparent
}
.border:hover{
    border:1.5px solid white;
}
.add-first{
    height: 14;
    color:#cccccc ;
    font-size:0.8rem;
    margin-left:15px;
}
.add-second{
    height: 16;
    font-size:1rem;
    margin-left:3px;

}
.add-icon{
    height: 18px;
    width: 15;
    display: flex;
    align-items: center;
    
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 153, 0);
    width:626px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border:2px solid rgb(255, 170, 0);
}
.select-search{
    background-color: #E6E6E6;
    width:51.6px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;
    text-align: center;
}
.input-search{
    width:100%;
    font-size:1rem;
    border:none;
    padding: 7px 10px 10px 0px;
}
.search-icon{
    width:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.3rem;
    color:#0f1111;
}
span{
    font-size:0.7rem;
    color:#FFFFFF;
}
.nava second{
    font-weight: 700;
    color:#FFFFFF;
 
}
.nav-cart i{
    
    font-size:30px;
}
.nav-cart{
    font-weight: 700;
    font-size:0.85rem;
}
.pannel{
    height: 40px;
    background-color:#222f3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
   

}
.pannel-oops p{
    display: inline;
    margin-left: 16px;
   
}
.pannel-oops{
    width:70%;
    font-size:0.85rem;
}
.pannel-deals{
    font-size:0.89rem;
    font-weight: 700;
}
.pannel-icon{
    margin-left:2px;
}
.first-part{
    background-image:url("amazon\ image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: end;
    justify-content: center;
    
}
.firstmessage{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85;
    width: 80%;
    margin-bottom: 25px;
}
.firstmessage a {
    color: #007185;
}
.shopsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(242, 242, 234);
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 15px;
    
}
.box-image{
    height: 300px;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}
.box-content p {
    color: #007185;
    /* display: inline;
    margin-top: 2rem; */
}

.pannel1{
    background-color: #37475a;
    color: #FFFFFF;
    height: 45px;
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 0.89rem;
}
.pannel2{
    background-color: #222f3d;
    color:white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 10px 0px 10px; 
   
}
.pannel2 a {
    display: block;
    font-size: 0.68rem;
    margin-top: 10px;
    color: #dddddd;
}
.pannel2 ul {
    margin:13px 0px 14px;
    color: #FFFFFF;
}
.pannel3{
    background-color: #222f3d;
    color: white;
    height: 90px;
    border-top: 1px solid white;
    display: flex;
    justify-content:center;
    align-items: center;
}
.pannel-logo{
     background-image: url("Amazon-Logo-White-PNG-Image.png");
    background-size: cover;
    height: 50px;
    width:138px;
}
.pannel5{
    height: 155px;
    background-color: #131A22;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.pannel5 ul{
    height: 40.4px;
    width: 150px;
    padding: 0px 9px;
}



.pannel5 p{
    font-size: 0.65rem;
    color: #f8f7f7; 
    

}
.pannel5 a{
    display: block;
    color: #cccccc;
    margin: 0rem;
    font-size:0.49rem ;
}
.pannel4{
    background-color: #131A22;
    color: #FFFFFF;
    height: 80px;
    font-size:0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;

}